/*{% extends "default" %}*/

/*{% block tz_app_header %}*/
/*{% endblock %}*/

/*{% block tz_app_title %}*/Global Game Jam 2016/*{% endblock %}*/
/*{% block tz_app_title_name %}*/Global Game Jam 2016/*{% endblock %}*/

/*{% block tz_app_html_controls %}*/

<div id="sidebar" class="ui-layout-west scrollable">
    <div class="html-control control-output-pair">Performance (fps): <strong id="fpscounter" class="control-output"></strong></div>
    <div class="html-control control-output-pair">Game Speed: <strong id="gameSpeed" class="control-output"></strong></div>
    <div class="html-control control-output-pair">Elapsed time (sec.): <strong id="time" class="control-output"></strong></div>
    <div class="html-control control-output-pair">Score: <strong id="score" class="control-output"></strong></div>
    <div class="html-control control-output-pair">Health: <strong id="health" class="control-output"></strong></div>
</div>

/*{% endblock %}*/
